@page
@model METU.Admin.Pages.Manage.accounts.DetailsModel

@{
    ViewData["Title"] = "详情 ";
}

<h1>详情</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LoginTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LoginTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LoginIp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LoginIp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.IsLock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.IsLock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.ModifiedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.ModifiedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.ClosedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.ClosedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.ClosedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.ClosedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.DeletedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.DeletedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.DeletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.cid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.cid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Pid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Pid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Domainid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Domainid)
        </dd>
      
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account.id">编辑</a> |
    <a asp-page="./Index">返回</a>
</div>
