@page
@model METU.Admin.Pages.Manage.syspagedicconfigs.IndexModel

@{
    ViewData["Title"] = "列表";
}



<p>
    <a asp-page="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].SetKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].ConfigName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].ConfigValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].ConfigExplain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].Pid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].Cid)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].IsEnabled)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].Dicid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyspageDicconfig[0].Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SyspageDicconfig) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SetKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigExplain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Dicid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">编辑</a> |
                <a asp-page="./Details" asp-route-id="@item.id">详情</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
