@page
@model METU.Admin.Pages.Manage.sysadmins.DetailsModel

@{
    ViewData["Title"] = "详情 ";
}

<h1>详情</h1>

<div>
    <h4>SysAdmin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SysAdmin.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SysAdmin.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SysAdmin.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SysAdmin.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SysAdmin.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SysAdmin.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SysAdmin.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SysAdmin.Remark)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SysAdmin.id">编辑</a> |
    <a asp-page="./Index">返回</a>
</div>
