@page
@model METU.Admin.Pages.Manage.menus.DetailsModel

@{
    ViewData["Title"] = "详情 ";
}

<h1>详情</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Domainid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Domainid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.ModuleCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.ModuleCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Parentid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Parentid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.RouteName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.RouteName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.RouteParams)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.RouteParams)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.RouteQuery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.RouteQuery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.IconColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.IconColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Show)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Show)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Sort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Sort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Target)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Target)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.DialogWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.DialogWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.DialogHeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.DialogHeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.DialogFullscreen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.DialogFullscreen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.ModifiedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.ModifiedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Cid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Cid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.UpdateUserid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.UpdateUserid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.CreateUserid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.CreateUserid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.IsEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.IsEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu.id">编辑</a> |
    <a asp-page="./Index">返回</a>
</div>
